# Import excel files and create DataFrames

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

# import python packages for analysis

In [2]:
xlsx = pd.ExcelFile('/users/jyu/desktop/FINRA-DataAnalystExercises.xlsx')
df1 = pd.read_excel(xlsx, 'UTP_TRD_ACTN', parse_dates = ['orgnl_trade_dt'])
df2 = pd.read_excel(xlsx, 'SCRTY_EQTY_LIVE_HS', parse_dates = ['xprtn_dt'])
df3 = pd.read_excel(xlsx, 'MKT_CNTR_PRTCP_HS')
# read individual worksheets as data frames

# Circuit Breaker Requirement 10

In [3]:
# Circuit Breaker Requirement no. 10
mask1a = df1['trd_actn_cd'] == '0'
mask1b = df1['trd_actn_cd'] == '1'
mask1c = df1['trd_actn_cd'] == '2'
mask2 = df1['msg_ctgry_cd'] == 'A'
mask3 = df1['msg_type_cd'] == 'V'

In [4]:
utp_a = df1.loc[mask1a & mask2 & mask3]
# utp_a meets the conditions below
# trd_actn_cd = 0, msg_ctgry_cd = A, msg_type_cd = V

In [5]:
utp_b = df1.loc[mask1b & mask2 & mask3]
# utp_b meets the conditions below
# trd_actn_cd = 1, msg_ctgry_cd = A, msg_type_cd = V

In [6]:
utp_c = df1.loc[mask1c & mask2 & mask3]
# utp_c meets the conditions below
# trd_actn_cd = 2, msg_ctgry_cd = A, msg_type_cd = V

In [7]:
utp_issue_reqs = pd.concat([utp_a, utp_b, utp_c])
utp_issue_reqs
# utp_issue_reqs = new variable circuit breaker requirement 10
# concatenated 3 dataframes with the varying trd_actn_cd values

,orgnl_trade_dt,issue_sym_id,mkt_cntr_cd,trd_actn_cd,actn_tm,actn_ts,msg_ctgry_cd,msg_type_cd,src_line_cd,msg_seq_nb,impct_mkt_cntr_cd,halt_rsn_cd,file_src_cd,sub_mkt_cntr_cd,rec_load_dt,trade_dt
0,2020-01-07,AACG,Q,0,03:58:00.008,2020-01-07 03:58:00.008,A,V,T1,3,NaN,NaN,1,NaN,2020-01-08,2020-01-07
1,2020-01-07,AACG,Q,0,03:58:00,2020-01-07 03:58:00.000,A,V,Q1,2,NaN,NaN,1,NaN,2020-01-08,2020-01-07
2,2020-01-07,AAL,Q,0,03:58:00,2020-01-07 03:58:00.000,A,V,Q1,3,NaN,NaN,1,NaN,2020-01-08,2020-01-07
3,2020-01-07,AAL,Q,0,03:58:00.017,2020-01-07 03:58:00.017,A,V,T1,4,NaN,NaN,1,NaN,2020-01-08,2020-01-07
4,2020-01-07,AAME,Q,0,03:58:00.018,2020-01-07 03:58:00.018,A,V,T1,5,NaN,NaN,1,NaN,2020-01-08,2020-01-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7067,2020-01-07,WHLM,Q,2,03:58:00.001,2020-01-07 03:58:00.001,A,V,Q6,111,NaN,NaN,6,NaN,2020-01-08,2020-01-07
7114,2020-01-07,WRLS,Q,2,03:58:00.02,2020-01-07 03:58:00.020,A,V,T6,470,NaN,NaN,6,NaN,2020-01-08,2020-01-07
7118,2020-01-07,WRLS,Q,2,03:58:00.002,2020-01-07 03:58:00.002,A,V,Q6,234,NaN,NaN,6,NaN,2020-01-08,2020-01-07
7226,2020-01-07,XTLB,Q,2,03:58:00.001,2020-01-07 03:58:00.001,A,V,Q6,162,NaN,NaN,6,NaN,2020-01-08,2020-01-07
7227,2020-01-07,XTLB,Q,2,03:58:00.021,2020-01-07 03:58:00.021,A,V,T6,524,NaN,NaN,6,NaN,2020-01-08,2020-01-07

# Circuit Breaker Requirement 20 conditions 1 & 2

In [8]:
# Merged utp_issues_reqs and df2 where a.issue_sym_id = b.issue_sym_id
df_merged = pd.DataFrame.merge(utp_issue_reqs, df2, on = ['issue_sym_id'])
df_merged

,orgnl_trade_dt,issue_sym_id,mkt_cntr_cd,trd_actn_cd,actn_tm,actn_ts,msg_ctgry_cd,msg_type_cd,src_line_cd,msg_seq_nb,...,mkt_cd,lstng_mkt_cntr_cd,cusip_id,issue_short_nm,cntry_cd,lstng_agrmt_dt,tckr_cd,cnvrt_fl,load_dt,updt_ts
0,2020-01-07,AACG,Q,0,03:58:00.008,2020-01-07 03:58:00.008,A,V,T1,3,...,N,NASDAQ,00211V106,ATA CREATIVITY GLOBAL AMERICAN,CA,2019-09-16,Q,N,2019-10-17,2019-10-17 07:40:01
1,2020-01-07,AACG,Q,0,03:58:00,2020-01-07 03:58:00.000,A,V,Q1,2,...,N,NASDAQ,00211V106,ATA CREATIVITY GLOBAL AMERICAN,CA,2019-09-16,Q,N,2019-10-17,2019-10-17 07:40:01
2,2020-01-07,AAL,Q,0,03:58:00,2020-01-07 03:58:00.000,A,V,Q1,3,...,N,NASDAQ,02376R102,AMERICAN AIRLINES GROUP INC. C,US,2013-08-05,Q,N,2018-04-30,2018-04-30 02:52:59
3,2020-01-07,AAL,Q,0,03:58:00.017,2020-01-07 03:58:00.017,A,V,T1,4,...,N,NASDAQ,02376R102,AMERICAN AIRLINES GROUP INC. C,US,2013-08-05,Q,N,2018-04-30,2018-04-30 02:52:59
4,2020-01-07,AAME,Q,0,03:58:00.018,2020-01-07 03:58:00.018,A,V,T1,5,...,N,NASDAQ,48209100,ATLANTIC AMERICAN CORPORATION,US,1989-02-24,Q,N,2016-06-05,2018-03-02 18:29:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7139,2020-01-07,WHLM,Q,2,03:58:00.001,2020-01-07 03:58:00.001,A,V,Q6,111,...,N,NASDAQ,968235200,"WILHELMINA INTERNATIONAL, INC.",US,2014-01-22,Q,N,2016-06-05,2018-03-02 18:29:21
7140,2020-01-07,WRLS,Q,2,03:58:00.02,2020-01-07 03:58:00.020,A,V,T6,470,...,N,NASDAQ,7095700000000000410910557152462954809208295428...,PENSARE ACQUISITION CORP. COMM,US,2017-06-16,Q,N,2019-10-01,2019-10-01 02:44:58
7141,2020-01-07,WRLS,Q,2,03:58:00.002,2020-01-07 03:58:00.002,A,V,Q6,234,...,N,NASDAQ,7095700000000000410910557152462954809208295428...,PENSARE ACQUISITION CORP. COMM,US,2017-06-16,Q,N,2019-10-01,2019-10-01 02:44:58
7142,2020-01-07,XTLB,Q,2,03:58:00.001,2020-01-07 03:58:00.001,A,V,Q6,162,...,N,NASDAQ,98386D307,XTL BIOPHARMACEUTICALS LTD. AM,IS,2012-06-01,Q,N,2017-02-10,2017-02-10 02:43:15
7143,2020-01-07,XTLB,Q,2,03:58:00.021,2020-01-07 03:58:00.021,A,V,T6,524,...,N,NASDAQ,98386D307,XTL BIOPHARMACEUTICALS LTD. AM,IS,2012-06-01,Q,N,2017-02-10,2017-02-10 02:43:15

In [18]:
# df_merged.drop(['impct_mkt_cntr_cd', 'halt_rsn_cd', 'file_src_cd', 'sub_mkt_cntr_cd', 'rec_load_dt', 'siac_sym_id', 'nyse_sym_id', 'arca_sym_id', 'oats_rptng_sym_id', 'cms_dot_dlmtd_sym_id', 'cusip_id', 'issue_short_nm', 'cntry_cd', 'lstng_agrmt_dt', 'tckr_cd', 'cnvrt_fl'], axis = 1)

In [9]:
# Satisfied b.efctv <= a.orgnl_trd_dt
df_merged_2 = df_merged[(df_merged['orgnl_trade_dt'] >= df_merged['efctv_dt'])]
df_merged_2

# df_merged_drop = df_merged_2.drop(['impct_mkt_cntr_cd', 'halt_rsn_cd', 'file_src_cd', 'sub_mkt_cntr_cd', 'rec_load_dt', 'siac_sym_id', 'nyse_sym_id', 'arca_sym_id', 'oats_rptng_sym_id', 'cms_dot_dlmtd_sym_id', 'cusip_id', 'issue_short_nm', 'cntry_cd', 'lstng_agrmt_dt', 'tckr_cd', 'cnvrt_fl'], axis = 1)
# df_merged_drop

,orgnl_trade_dt,issue_sym_id,mkt_cntr_cd,trd_actn_cd,actn_tm,actn_ts,msg_ctgry_cd,msg_type_cd,src_line_cd,msg_seq_nb,...,mkt_cd,lstng_mkt_cntr_cd,cusip_id,issue_short_nm,cntry_cd,lstng_agrmt_dt,tckr_cd,cnvrt_fl,load_dt,updt_ts
0,2020-01-07,AACG,Q,0,03:58:00.008,2020-01-07 03:58:00.008,A,V,T1,3,...,N,NASDAQ,00211V106,ATA CREATIVITY GLOBAL AMERICAN,CA,2019-09-16,Q,N,2019-10-17,2019-10-17 07:40:01
1,2020-01-07,AACG,Q,0,03:58:00,2020-01-07 03:58:00.000,A,V,Q1,2,...,N,NASDAQ,00211V106,ATA CREATIVITY GLOBAL AMERICAN,CA,2019-09-16,Q,N,2019-10-17,2019-10-17 07:40:01
2,2020-01-07,AAL,Q,0,03:58:00,2020-01-07 03:58:00.000,A,V,Q1,3,...,N,NASDAQ,02376R102,AMERICAN AIRLINES GROUP INC. C,US,2013-08-05,Q,N,2018-04-30,2018-04-30 02:52:59
3,2020-01-07,AAL,Q,0,03:58:00.017,2020-01-07 03:58:00.017,A,V,T1,4,...,N,NASDAQ,02376R102,AMERICAN AIRLINES GROUP INC. C,US,2013-08-05,Q,N,2018-04-30,2018-04-30 02:52:59
4,2020-01-07,AAME,Q,0,03:58:00.018,2020-01-07 03:58:00.018,A,V,T1,5,...,N,NASDAQ,48209100,ATLANTIC AMERICAN CORPORATION,US,1989-02-24,Q,N,2016-06-05,2018-03-02 18:29:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7139,2020-01-07,WHLM,Q,2,03:58:00.001,2020-01-07 03:58:00.001,A,V,Q6,111,...,N,NASDAQ,968235200,"WILHELMINA INTERNATIONAL, INC.",US,2014-01-22,Q,N,2016-06-05,2018-03-02 18:29:21
7140,2020-01-07,WRLS,Q,2,03:58:00.02,2020-01-07 03:58:00.020,A,V,T6,470,...,N,NASDAQ,7095700000000000410910557152462954809208295428...,PENSARE ACQUISITION CORP. COMM,US,2017-06-16,Q,N,2019-10-01,2019-10-01 02:44:58
7141,2020-01-07,WRLS,Q,2,03:58:00.002,2020-01-07 03:58:00.002,A,V,Q6,234,...,N,NASDAQ,7095700000000000410910557152462954809208295428...,PENSARE ACQUISITION CORP. COMM,US,2017-06-16,Q,N,2019-10-01,2019-10-01 02:44:58
7142,2020-01-07,XTLB,Q,2,03:58:00.001,2020-01-07 03:58:00.001,A,V,Q6,162,...,N,NASDAQ,98386D307,XTL BIOPHARMACEUTICALS LTD. AM,IS,2012-06-01,Q,N,2017-02-10,2017-02-10 02:43:15
7143,2020-01-07,XTLB,Q,2,03:58:00.021,2020-01-07 03:58:00.021,A,V,T6,524,...,N,NASDAQ,98386D307,XTL BIOPHARMACEUTICALS LTD. AM,IS,2012-06-01,Q,N,2017-02-10,2017-02-10 02:43:15

In [14]:
# Export dataframe into an excel file
with pd.ExcelWriter('/users/jyu/desktop/FINRA.xlsx') as writer:
    df_merged_2.to_excel(writer, sheet_name = 'Sheet1')
writer.save()
writer.close()

# Circuit Breaker Requirement condition 3

In [ ]:
# Could not satisfy b.xprtn_dt > a.orgnl_trd_dt
# Trouble with time series data manipulation 
# Below are my attempts

In [21]:
#need to remove timestamp from xprtn_dt
#df_merged_drop['xprtn_dt'].astype('datetime64[ns]')

#from datetime import datetime
#datetime.datetime.strptime(df_merged_drop['orgnl_trade_dt'], '%Y-%m-%d %H:%M:%S')

#datetime.strftime(df_merged_drop['orgnl_trade_dt'].apply(lambda x: x.strftime('%Y-%m-%d')))
#pd.to_datetime(df_merged_drop['xprtn_dt'], errors = 'ignore').dt.strftime('%y-%m-%d')
#pd.to_datetime(df_merged_drop['xprtn_dt'], format = '%Y-%m-%d', errors = 'ignore')

#df_merged_drop[(df_merged_drop['xprtn_dt'] > df_merged_drop['orgnl_trade_dt'])]

# Participant Requirement 10

In [11]:
# Displaying MKT_CNTR_PRTCP_HS
df3

# mkt_prtcp_id = mkt_prtcp_id
# firm_crd_nb <> firm_crd_nb <> means not equal to each other

,erd_rec_id,mkt_prtcp_id,mkt_cntr_id,bus_efctv_dt,bus_xprtn_dt,erd_efctv_dt,erd_xprtn_dt,creat_ts,updt_ts,updt_user_id,ltst_vrsn_fl,mkt_cntr_spcfc_id,firm_crd_nb,test_prtcp_fl,mkt_prtcp_id_type_cd
0,1159922111,1X1X,14,2019-09-06,2399-12-31 00:00:00,2019-09-06,2399-12-31 00:00:00,2019-09-09 08:11:19,2019-09-09 08:11:19,ERD,Y,1875,888888888.0,N,M
1,1159907418,3BYW,17,2019-04-01,2019-04-15 00:00:00,2019-04-01,2019-04-15 00:00:00,2019-09-07 09:34:58,2019-09-07 10:05:23,ERD,Y,30393,15794.0,N,M
2,1159907370,3BYW,6,2019-04-01,2019-04-15 00:00:00,2019-04-01,2019-04-15 00:00:00,2019-09-07 09:34:58,2019-09-07 10:05:23,ERD,Y,30393,15794.0,N,M
3,1159907409,3BYW,15,2019-04-01,2019-04-15 00:00:00,2019-04-01,2019-04-15 00:00:00,2019-09-07 09:34:58,2019-09-07 10:05:23,ERD,Y,30393,15794.0,N,M
4,1159907379,3BZJ,15,2019-04-01,2019-04-15 00:00:00,2019-04-01,2019-04-15 00:00:00,2019-09-07 09:34:58,2019-09-07 10:05:23,ERD,Y,50040,2739.0,N,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5539,1159908031,ZEBD,15,2019-08-01,2019-12-16 00:00:00,2019-08-01,2019-12-16 00:00:00,2019-09-07 13:55:32,2019-12-17 02:42:07,ERD,Y,67841,166469.0,N,M
5540,1159905975,ZSUP,6,2019-02-01,2399-12-31 00:00:00,2019-02-01,2399-12-31 00:00:00,2019-09-07 03:32:17,2019-09-07 03:32:17,ERD,Y,30459,NaN,N,M
5541,1159906708,ZSUP,15,2019-02-01,2399-12-31 00:00:00,2019-02-01,2399-12-31 00:00:00,2019-09-07 03:32:17,2019-09-07 03:32:17,ERD,Y,30459,NaN,N,M
5542,1159906780,ZZZZ,6,2019-02-01,2399-12-31 00:00:00,2019-02-01,2399-12-31 00:00:00,2019-09-07 03:32:17,2019-09-07 03:32:17,ERD,Y,30459,NaN,N,M
5543,1159905424,ZZZZ,15,2019-02-01,2399-12-31 00:00:00,2019-02-01,2399-12-31 00:00:00,2019-09-07 03:32:17,2019-09-07 03:32:17,ERD,Y,30459,NaN,N,M

In [23]:
# criteria: mkt_prtcp_id = mkt_prtcp_id 
mkt_df = df3[df3['mkt_prtcp_id'] == df3['mkt_prtcp_id']]
# criteria: firm_crd_nb <> firm_crd_nb 
firm_df = df3[df3['firm_crd_nb'] != df3['firm_crd_nb']]

In [15]:
# Here I was trying to filter through MKT_CNTR_PRTCP_HS dataframe 
# with both the criteria, however ran into type error of both columns 
# Could not execute operand 

#firm_df.firm_crd_nb.apply(str)
#df3[(mkt_df & firm_df)]

In [70]:
df3.dtypes
# I saw that mkt_prtcp_id was a str but firm_crd_nb was a float
# Could not filter through both criteria because type mismatch

erd_rec_id                       int64
mkt_prtcp_id                    object
mkt_cntr_id                      int64
bus_efctv_dt            datetime64[ns]
bus_xprtn_dt                    object
erd_efctv_dt            datetime64[ns]
erd_xprtn_dt                    object
creat_ts                datetime64[ns]
updt_ts                 datetime64[ns]
updt_user_id                    object
ltst_vrsn_fl                    object
mkt_cntr_spcfc_id                int64
firm_crd_nb                    float64
test_prtcp_fl                   object
mkt_prtcp_id_type_cd            object
dtype: object